@page
@model WishList.Views.Home.IndexModel
@{
    <!--ViewData["Title"] = "Home page";-->
}

<div class="text-center">
    <h1>Welcome</h1>
</div>
<a asp-action="Index" asp-controller="Item">View wishlist</a>
<img src="/Backup-IBM-Server-icon.png" />


